@keyframes newOne {
  from {
    box-shadow: inset 0px 0px 2vw 0px rgba(16, 120, 0, 0.65);
  }
  to {
    box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  }
}
.live-load,
.user-load {
  position: absolute;
  height: 50px;
}
#content box {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}
#content box boxtitel {
  padding-top: 10px;
  padding-left: 30px;
}
#content boxcontent {
  padding-bottom: 25px;
  min-height: 25px;
}
.dash-list {
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  text-shadow: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.dash-links {
  min-height: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.dash-links li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  width: 15%;
  text-align: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dash-links li:hover,
.dash-links li:active {
  text-shadow: 1px 1px white;
  background-color: rgba(49, 168, 162, 0.5);
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.7);
  display: inline-block;
  padding: 10px;
}
.dash-links li a {
  width: 100%;
  display: block;
  text-align: center;
}
.user-stats li {
  vertical-align: middle;
  min-height: 40px;
  margin: 1%;
  width: 31%;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
}
.user-stats p {
  text-shadow: 1px 1px white;
}
.dashboard li:hover,
.dashboard li:active {
  background-color: rgba(49, 168, 162, 0.5);
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.7);
}
boxcontent ul {
  list-style: none;
}
.dash-list li {
  animation-name: newOne;
  animation-duration: 4s;
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
}
.dashboard {
  width: 100%;
  margin-right: 0;
  float: none !important;
}
@media screen and (max-width: 1350px) {
  .dashboard * {
    font-size: 1.5vw !important;
  }
  .dash-list li {
    box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  }
}
@media screen and (max-width: 800px) {
  .dashboard {
    width: 100%;
    margin-right: 0;
  }
  .dashboard * {
    font-family: normal;
    font-size: 3vw !important;
  }
  .dash-list li {
    box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  }
}
