//standard Blazons relation:
// 1 x 1 !important


.blazonstyle(@height: 50px;) {
  @width: @height;
  @adaptionFor3DGrapic: (@width * 0.02);
  @padding: (@height / 5)!important;
  @width1: (@width * 0.45);
  @left1: ((@width * 0.5) + @adaptionFor3DGrapic);
  @height2: (@height * 0.45);
  @left2: ((@width * 0.5) + (2 * @adaptionFor3DGrapic));

  .blazon {
    position: relative;
    padding: @padding;
    height: @height;
    width: @width;
    border-radius: 50%;

    .blazon-sub-0 {
      position: absolute;
      z-index: 1;
      width: @width;
      height: @height;
      left: @padding;
    }
    .blazon-sub-1 {
      width: @width1;
      position: absolute;
      z-index: 2;
      top: 30%;
      left: @left1;
    }
    .blazon-sub-2 {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: @left2;
      height: @height2;
    }
  }
}