vendor/
.vagrant/
.idea/
/.settings/org.eclipse.core.resources.prefs

config/autoload/fry.local.php
config/autoload/salt.local.php

cache/
storage/
node_modules/

module/demo/
module/src/Application/Utility/0815 array DataTable - Kopie.php
module/Cast/view/cast/cast/cast.css
module/Cast/view/cast/cast/tree.css
Data/
Data/_thumbs/
temp/

public/css/
public/fonts/backup/
public/img/backup/
public/img/uikit/backup/

build/release/

