vendor/
.idea/
/.settings/org.eclipse.core.resources.prefs
config/autoload/local.php
module/src/Application/Utility/0815 array DataTable - Kopie.php
public/fonts/backup/
public/img/backup/
public/img/uikit/backup/
AAAAAAAAAADBdump/old/
Data/_thumbs/
module/demo/