/* positioning */
/* ------ shadows ------- */
.box-shadow-bottom {
  box-shadow: 0 0.35vw 0.8vw darkgrey, inset 0px 0px 5vw 0px rgba(41, 0, 0, 0.5);
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
/* overrides for js css */
/* -------------------- */
/* own pop up styles */
/* ----------------- UI special desing -------------------------------- */
.ui-dialog {
  top: 0 !important;
  left: 0 !important;
}
.ui-dialog-buttonset {
  float: none !important;
  text-align: center;
}
.ui-widget-content button {
  background-color: #FAEBd7;
  width: 60px;
}
.ui-widget-content button:hover {
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
}
/* ----------------- pop up div design -------------------- */
.disclaimer {
  width: 100%;
  height: 75% !important;
  font-size: medium !important;
}
/* data tables */
table.dataTable tr:hover > td,
table.dataTable tr:hover > td {
  background-color: #9fa8da !important;
}
/* additional settings for the gallery */
/******************** CSS for Gallery Index Page *********************/
.preview_gallery {
  height: 75px;
  border-radius: 10%;
}
/* datepicker */
#ui-datepicker-div {
  border: 0.5vw solid;
  border-image: url("/img/uikit/border.png") 40 repeat;
}
/* ******** datepicker (part of jquery-ui I think) ******** */
.ui-datepicker {
  background-image: none;
  background-size: 100% 100%;
}
#ui-datepicker-div > table > thead > tr > th > span {
  color: black;
}
/* simplyscroll */
/* accordion */
accordion span span {
  display: none !important;
}
/* jquery ui */
.ui-visual-focus {
  box-shadow: inset 0px 0px 5vw 0px rgba(41, 0, 0, 0.5);
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  text-decoration: none;
}
.ui-state-active,
.ui-state-hover,
.ui-state-focus,
.ui-visual-focus {
  box-shadow: inset 0px 0px 2vw 0px rgba(41, 0, 0, 0.5);
  border-color: #430c0c;
  color: black;
}
