

@media only screen and (max-width: 1200px ) {
/* ----------------------------------- */
    #head {
/*        height: 85px;*/
        height: 100px;
    }

    .ownhead {
        font-size: 60px;
    }
    .headdeko {
        float:left;
        width: 15%;
        margin-top: 5px;
    }
    .leftHead {
        float: right;
        width: 85%;
        text-align: center;
    }

    .rightHead {
        float: right;
        width: 85%;
        text-align: center;
    }   
    #headlinks {
        font-size: 14px;
    }
    #content {
        width: 73%;
        margin-left: 0px;
    }
    .rightcontainer {
        width: 22%;
    }
    news {
        font-size: 20px;
    }

    .M_S_br {
        display: block;
    }
    .M_br {
        display: block;
    }
}

/* ----------------------------------- */

@media only screen and (max-width: 700px) {
/* ----------------------------------- */

    #head {
        height: 60px;
        text-align: left;
    }
    .headdeko {
	    display: none;
}
    .leftHead {
        float: right;
        width: 100%;
        text-align: center;
    }

    .rightHead {
        float: right;
        width: 100%;
        text-align: center;
    }   

    #content {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 1%;
        width: 100%;
        min-height:auto !important;
    }

    .rightcontainer {
        margin-left: 19%;
        float: left;
        width: 55%;
        height:auto !important;
    }
    .rightbarup,
    .rightbardown{
        margin: 0;
        float: left;
    }
    .ownhead {
        font-size: 40px;
    }
    .own_text_big,
    news {
        font-size: 25px;
    }
    .M_S_br {
    display: block;
    }
    .M_br {
        display: none;
    }
}

/* ----------------------------------- */

@media only screen and (max-width: 440px) {
    #head {
        padding-top: 20px;
    }
    .ownhead {
        font-size: 20px;
    }
}
