/* ----------------------------------- */

@media only screen and (max-width: 700px) {
/* ----------------------------------- */

    #head {
        height: 60px;
        text-align: left;
    }
    .headdeko {
	    display: none;
}
    .leftHead {
        float: right;
        width: 100%;
        text-align: center;
    }

    .rightHead {
        float: right;
        width: 100%;
        font-size: 3vw;
        text-align: right;
    }   

    #content {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 1%;
        width: calc(100% - 1vw);
        min-height:auto !important;
    }

    #rightcontainer {
        float: left;
        width: calc(100% - 1vw);
        height:auto !important;
    }
    .rightbarup,
    .rightbardown{
        margin: 0;
        float: left;
    }
    .ownhead {
        font-size: 8vw;
    }
    .rightbarup>.box,
    .rightbardown>.box,
    #content>.box
    {
        width: calc(100% - 1em);
        border-right: none;
        border-left:none;
    }
}
