/* -----------------Navbar CSS settings----------------- */

    .dropdown {
        width: 20px;
    }

    li {
        min-height: 30px;
        vertical-align: text-bottom;
    }

    .navigation {
        list-style-type: none;
        margin: 0 0 0 0;
        display: block;
    }

    .navigation ul,
    .navigation li {
        vertical-align: middle;
        list-style-type: none;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
    }
    .navigation li {
        background-color: none;
    }
    .navigation li:link,
    .navigation li:visited{
        color: black;
    }

    .navigation li:active,
    .navigation li:hover {
        color: black;
    }

    .secondLevel-ul {
        top: 40px;
        min-width: 120px;
        text-align: center;
        min-height: 100%;
        padding-bottom: 5px;
        background-image: none;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .thirdLevel-ul {
        top: 40px;
        min-width: 120px;
        text-align: center;
        min-height: 100%;
        padding-bottom: 5px;
    }

    .navbutton {
        display: none;
    }

/* @media special desing */
/*-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px ) {
/*-----------------------------------------------------------------------------*/

    .navframe {
        width: 100%;
        min-height: auto !important;
        margin-bottom: 1%;
    }
    .navtitel {
        font-size: 30px;
    }
    .navtitel>div {
        display: none;
    }
    .navigation li {
        list-style: none;
        font-size: 15px;
        line-height: normal;
        width: inherit;
        background-repeat: no-repeat;
        background-image: none;
        color: black;
        float:left;
        height: 30px;
    }
    .navigation>li {
        width: auto;
        float: left;
        margin-right: 10px;
/*        padding: 5px 10px;*/
/*        text-align: center;*/
        position: relative;
    }
    .navigation a {
        text-align: left;
        color: black;
    }
    .navigation li:link,
    .navigation li:visited{
        color: black;
    }

    .navigation li:active,
    .navigation li:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: black;
    }

    .secondLevel-ul {
        position: absolute;
        top: 30px;
        padding-right: 5px;

        min-height: 50px;
        width: 100%;
        background-color: rgb(178, 58, 58);
    }
    .secondLevel-ul {
        margin-left: 0;
        padding: 0;
    }
    .thirdLevel-ul {
        position: absolute;
        top: 40px;
        margin-left: 100%;
        min-width: 120px;
        text-align: center;
        min-height: 100%;
        padding-bottom: 5px;
        background-color: rgb(178, 58, 58);
    }
}

/*-----------------------------------------------------------------------------*/
@media only screen and (max-width: 700px ) {
/*-----------------------------------------------------------------------------*/
    .navframe{
        color: white;
        position: fixed ;
        width: auto;
        margin-left: -50px;
        padding-right: 0;
        z-index: 10;
        background-image: none;
    }

    .navframe owntitel {
        color: white;
    }

    .navbutton {
        display: block;
        width: auto;
        margin-left: -0px;
        padding-right: 0;
        padding-bottom: 5px;
    }
    .navbutton>img {
        width: 50px;
    }

    .menuItems{
        background-color: black;
    }

    .navtitel {
        display: block;
    }
    .navtitel>.spacer_h {
        display: none;
    }

    .navigation li {
        color: white;
        text-align: center;
    }
    .navigation>li {
        float: none;
        width: 100%;
    }
    .navigation li:link,
    .navigation li:visited{
        color: white;
    }
    .navigation li:active,
    .navigation li:hover {
        color: white;
        background-image: url(../media/uikit/highlight.u.d.png);
        background-size: 100%;
        background-position: top;
    }
    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active {
        color: white;
    }
    .secondLevel-ul {
        position: absolute;
        padding-left: 0;
        float: none;
        top: 2px;
        left: 100%;
        background-color: black;
    }
    .thirdLevel-ul {
        margin-left: 100%;
        background-color: black;
}

}
/* Helper for js */

.mobileMenuCenter {
    margin-left: 0px;
}
