/* -----------------general Settings----------------- */
* {
    padding: 0;
    margin: 0;
}
html {
    background-color: #430c0c;
    background-image: url(../img/html.bg.png);
    background-size: 100px;
}

body {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    background-image: url(../img/div.bg.test.png);
    background-size: auto 130px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}
ownhead {
    font-family: stylo, arial, sans-serif;
    color: black;
    font-size: 68px;
    font-size-adjust: auto;
}
owntitel {
    font-family: stylo, arial, sans-serif;
    font-size: 25px;
    color: black;
}

input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

butti {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../img/uikit/Button.png);
    background-size: 100% 100%;
    }
butti:hover {
    color: black;
    background-repeat: no-repeat;
    background-image: url(../img/uikit/Button.hover.png);
    background-size: 100% 100%;
}


/* ---------------Fonts---------------------*/
@font-face { font-family: 'stylo';
             src: url('../fonts/hp.ttf') format('truetype'); }

/* -----------------Head----------------- */
#headcontainer {
    position: relative;
    width: 100%;
}
#headdeko {
    position: relative;
    float:left;
    width: 15%;
    height: 110px;
    background-image: none;
    z-index: 5;
}
#headdeko>img {
    margin-left: auto;
    height: 170px;
    margin-top: -10px;
    margin-left: 5px;
}
#head {
    position: relative;
    float: right;
    width: 85%;
    text-align: center;
    height: 90px;  /*height + padding = height of div*/
    padding-top: 20px;
}
#headlinks {
    clear:both;
    position: relative;
    padding-right: 10px;
    width: calc (100%-10px);
    height: auto;
    text-align: right;
    color: black;
    border-bottom: 4px;
    border-bottom-style: ridge;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#headlinks>span,
#headlinks>span>a:link,
#headlinks>span>a:visited {
    color: black;
}

#headlinks>span>a:hover {
    background-image: url(../img/uikit/highlight.d.u.png);
    background-size: 100% 50%;
    background-position: bottom;
    color: black;
}
#headlinks>span>a:active {
    color: black;
}
.M_S_br {
    display: none;
}
.M_br {
    display: none;
}
.greets {
    font-size: 15px;
    font-weight: 700;
}


/* -----------------hp body----------------- */
.bodycontainer {
    position: relative;
    width: 100%;
    z-index: 1;
}

.navframe,
#content,
.rightcontainer {

    position: relative;
    z-index: inherit;
}

/* -----------------colum 1 (navframe)----------------- */
.navframe {
    position: relative;
    text-align: center;
    width: 20%;
    padding-top: 20px;
    float: left;
    min-height: 100%;
    z-index: 2;
}

/* -----------------colum 2 content----------------- */
#content {
    float: left;
    width: 60%;
    margin-left: 2px;
    padding-left: 5px;
    padding-top: 20px;
    min-height: 50%;

}

/* -----------------colum 3 right bar----------------- */
.rightcontainer {
    position: relative;
    float: right;
    width: 16%;
    text-align: center;
/*    min-height: 100%;*/
}

.rightbarup, .rightbardown {
    position: relative;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 20px;
    width: 100%;
    float: right;
    height: auto;
    min-height: 20%;
    overflow: visible;
}
newstitel {
    font-weight: 700;
}

/* -----------------foot----------------- */
#foot {
    position: relative;
    width: 100%;
    text-align: center;
}

#foottext {
    color: black;
    padding-top: 10px;
    min-height: 30px;
    background-image: url(../img/div.bg.test.png);
    background-size: auto 100%;
}

#footimage {
    background-image: url(../img/foot.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

/* -----------------auxilliary classes for JQuery----------------- */
.hidden {
    display: none;
}
.mobilenavigation {
    background-color: black;
}
.width_95 {
    width: 95%;
}
.width_90 {
    width: 90%;
}

/* ----------------- UI special desing -------------------------------- */

.spacer_h {
    background-image: url(../img/uikit/decoration.h.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 15px;
}
