.ui-datepicker {
	background-image: url(/img/body.bg.png);
    background-size: 100% 100%;
}
#ui-datepicker-div>table>thead>tr>th>span {
    color: black;
}
/* content fixes */
.bgcol {
    background-color: #9c3328;
}

/* nav sort */
#success,
#error
{
    float: left;
    width: 50px;
    opacity: 0;
    background-color: #5b9909;
}
#error{
    background-color: #9c3328;
}

/* -----------------auxilliary classes for JQuery----------------- */
.hidden {
   display: none !important;
}
.mobilenavigation {
    background-color: black;
}
.width_95 {
    width: 95%;
}
.width_90 {
    width: 90%;
}
.width_40 {
    width: 40%;
}