/* ------------------Zend Form Styles ---------------------------------- */
#album {
    text-align: right;
}
.margin_left_5{
    margin-left: 5px;
}
.margin_right_15{
    margin-right: 15px;
}
.margin_left_auto {
    margin-left: auto;
}
.float_left {
    float: left;
}


