// helper classes
// usage in class or id or...
.at-animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}

//creating animations
.keyframes(@name; @arguments) {
    @-webkit-keyframes @name { @arguments(); }
    @-moz-keyframes @name { @arguments(); }
    @-o-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

//      sample
// /* ------------------------- */
//.animation{
//    @name: ;
//    .ani-style(@1) {
//      setting: @1;
//    }
//    .ani-action(){
//
//    }
//    /* animation used in ... -> */
//    .keyframes(@name; { .ani-action });
//}

 /* --------- Animations ------------ */
.animation {
    /* ----------- sign shaking ----------
    ----------------------------------- */
    @name: shake_sign;
    .ani-action(@shake-degree: 40deg) {
        0% {        }
        5% { transform: rotate(0deg); }
        35% { transform: rotate(-@shake-degree); }
        65% { transform: rotate(@shake-degree); }
        95% { transform: rotate(0deg); }
        100% {        }
    }
    .keyframes(@name; { .ani-action });
}
.headdeko:hover
{
    /* used in... -> head */
    .at-animation(shake_sign 3s alternate);
}

.animation {
    /* -- blur in from display: none --
    -------------------------------- */
    @name: blurIn;
    .ani-style(@op) {
        opacity: @op;
    }
    .ani-action() {
        from {
            .ani-style(0);
        }
        to {
            .ani-style(1);
        }
    }
    /* used in... -> navigation menu.css */
    .keyframes (@name; { .ani-action });
}

/* -- navigation animations -- */
 /* ------------------------- */
.animation{
    @name: slideInFromTop;
    .ani-style(@1) {
        max-height: @1;
    }
    .ani-action(){
        from {.ani-style(0)}
        to {.ani-style(75px)}
    }
    /* animation used in ... -> navigation */
    .keyframes(@name; { .ani-action });
}
 /* ------------------------- */
.animation{
    @name: slideInFromTop2;
    .ani-style(@1) {
        max-height: @1;
    }
    .ani-action(){
        from {.ani-style(0)}
        to {.ani-style(1200px)}
    }
    /* animation used in ... -> navigation Mobile-View */
    .keyframes(@name; { .ani-action });
}


/* ---------------------------------- */
.animation {
    @name: logIn-animate-slide-in;
    .ani-style(@1; @2; @3) {
        width: @1;
        z-index: @2;
        max-height: @3;
    }
    .ani-action() {
        from {
            .ani-style(10vw; 1; 2.8vw);
        }
        to {
            .ani-style(20vw; 20; @login-max-height);
        }
    }
    /* used in... -> login_logout.css */
    .keyframes(@name; { .ani-action });
}

/* -- login logout animations -- */
/* ---------------------------------- */
.animation {
    @name: logIn-animate-slide-out;
    .ani-style(@1; @2; @3) {
        width: @1;
        z-index: @2;
        max-height: @3;
    }
    .ani-action() {
        from {
            .ani-style(20vw; 20; @login-max-height);
        }
        to {
            .ani-style(10vw; 1; 2.8vw);
        }
    }
    /* used in... -> login_logout.css */
    .keyframes(@name; { .ani-action });
}
/* ------------------------------- */
.animation {
    @name: logIn-animate-boxtitle-margin;
    .ani-style(@1) {
        margin-top: @1;
    }
    .ani-action() {
        0% {
            .ani-style(0);
        }
        100% {
            .ani-style(1vw);
        }
    }
    /* used in... -> login_logout.css */
    .keyframes(@name; { .ani-action });
}