// style helpers --------------------------------------------------------------------------------
.headfont(@hfont-size: 5.5vw, @hfont-color: black)
{
  font-family: headline, arial, sans-serif;
  color: @hfont-color;
  font-size: @hfont-size;
}
.font1(@font1-size: 1vw, @font1-color: black){
  font-family: bodytext, arial, sans-serif;
  color: @font1-color;
  font-size: @font1-size;
}
/* positioning */
.relative(){
  position: relative;
}
.absolute(){
  position: absolute;
}
.clear()
{
  clear: both;
}

// hide and show ----------------------------------------------------------------------------
.at-hide()
{
  display: none;
}
.at-show(@mod: block)
{
  display: @mod;
}
// backgroundstyling ------------------------------------------------------------------------
.at-arrow-bg(){
  background-image: @background-arrow;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.at-bg-color() {
  background-color: @backgroundcolor;
}
.at-bg-img-no-col(){
  background-image: @background-image;
  background-size: @body-background-size;
}
.at-bg-img(){
  background-image: @background-image;
  background-size: @body-background-size;
  .at-bg-color;
}
.at-shaded-part() {
  background-color: rgba(0, 0, 0, 0.1);
}
.at-hover-effect(){
  .at-box-inner-shadow(2vw);
  //.at-shaded-part; /*fallback*/
  //background: linear-gradient(transparent, rgba(0, 0, 0, 0.5), transparent);
  //background: radial-gradient(rgba(0, 0, 0, 0.5), transparent);
}
.at-hover() {
  &:hover{
    .at-hover-effect;
  }
}
.at-hover-and-active(){
  &:hover,
  &:active{
    .at-hover-effect;
  }
}

// border -------------------------------------------------------------------------------

.helper-border(@width, @style, @where) when (@where = top)
{
  border-top: @width @style;
}
.helper-border(@width, @style, @where) when (@where = right)
{
  border-right: @width @style;
}
.helper-border(@width, @style, @where) when (@where = bottom)
{
  border-bottom: @width @style;
}
.helper-border(@width, @style, @where) when (@where = left)
{
  border-left: @width @style;
}
.helper-border(@width, @style, @where) when (@where = all)
{
  border: @width @style;
}

.at-border-style(@status: normal) when (@status = normal){
  border-image: @border-picture-normal @border-cut-pixels @border-pic-display-style;
}
.at-border-style(@status: normal) when (@status = active){
  border-image: @border-picture-active @border-cut-pixels @border-pic-display-style;
}


.at-border( @where: all, @width: 0.5vw, @style: solid, @status: normal)
{
  .helper-border(@width, @style, @where);
  .at-border-style(@status);
}

/* ------ shadows ------- */
@box-shadow-standard-x: 0.35vw;
@box-shadow-standard-y: 0.35vw;
@box-shadow-standard-fade: 0.8vw;
@box-shadow-standard-color: darkgrey;

//@inner-shadow: inset 0 0 1vw 0 rgba(41,41,41,.5);
@inner-shadow-depth: 5vw;
@inner-shadow-color: rgba(41, 0, 0, 0.5);
@inner-shadow: inset 0px 0px @inner-shadow-depth 0px @inner-shadow-color;

@special-inner-shadow: inset 0px 0px 2vw 0px @inner-shadow-color;

.at-box-shadow(@box-shadow_x: @box-shadow-standard-x, @box-shadow_y: @box-shadow-standard-y, @box-shadow_fade: @box-shadow-standard-fade, @box-shadow_c:@box-shadow-standard-color)
{
    box-shadow: @box-shadow_x @box-shadow_y @box-shadow_fade @box-shadow_c, @inner-shadow;
}
.at-box-outer-shadow(@box-shadow_x: @box-shadow-standard-x, @box-shadow_y: @box-shadow-standard-y, @box-shadow_fade: @box-shadow-standard-fade, @box-shadow_c:@box-shadow-standard-color)
{
  box-shadow: @box-shadow_x @box-shadow_y @box-shadow_fade @box-shadow_c;
}
.at-box-inner-shadow(@d: @inner-shadow-depth, @c: @inner-shadow-color){
  box-shadow: inset 0px 0px @d 0px @c;
}
.box-shadow-bottom{
  .at-box-shadow(0);
}
.at-special-boxes-shadow(){
  box-shadow: @box-shadow-standard-x 0.8vw 1vw @box-shadow-standard-color, @special-inner-shadow;
}