@import "../less/css/realCss/siteDesign/_standards";
@media only screen and (max-width: 700px) {

    /* ------------------- vars --------------------------- */

    .at-central-container(){
        margin: 1vw -1.5vw 0 -1.5vw;
        .at-central-reset;
    }
    .at-central-reset()
    {
        width: initial;
        float: none;
    }


    /* ----------------- hide elements -------------------- */

    .headdeko,
    #rightbarmiddle
    {
        .at-hide;
    }

    /* --------------------- style ------------------------ */

    .ownhead
    {
        font-size: 7.5vw;
    }

    #headlinks
    {
        padding: 10px 10px 1vw 0;
    }

    .leftHead
    {
        float: none;
        width: 90%;
        text-align: center;
        margin: 0 auto 0 auto;
    }

    .rightHead
    {
        width: 100%;
        font-size: 3vw;
        text-align: right;
        height: auto;
    }

    #content
    {
        padding: 3px;
        min-height: 10px !important;
        .at-central-container;
        *
        {
            box-shadow: none;
        }
    }

    #rightcontainer
    {
        height: auto !important;
        .at-central-container;
        .at-box
        {
            margin-bottom: 0;
        }
    }

    .rightbarup,
    .rightbardown
    {
        .at-central-reset;
    }
}
