//saves ----- colorset of fitting colors
//Adobe cc
// alt colors
//#668F74, 102,143,116
//#294231, 41,66,49
//#8D7F9C, 141,127,156
//#E0C295, 224,194,149
//#B5996F, 181,153,111

//@body-color: #E86975;
//@body-color: #B04743;
//@body-color: #4F79AE;
//@backgroundcolor: #FFD480;
//@backgroundcolor: #FFCE8C;

//snippets of unknown origin
//@js-lib: "/libs/jquery-ui/";
//@js-css-file: "jquery-ui.css";
//@js-css: "@{js-lib}@{js-css-file}" ;


// JETZT GEHTS LOOOOOS


// colors ----------------------------------------------------------------------------------- colors
@body-color: rgb(67,12,12);
@backgroundcolor: #FAEBd7;
@dark-color: #dbd2c9;
@darker: #AFA08D;
@text-shadow-color: #f3ffff;

@silver-hover-color: #c8e4f8;
@blue-hover: #4F79AE;


// paths ------------------------------------------------------------------------------------ paths
@img-path: "/img/";
@uikit-path: "/img/uikit/";
@fonts-path: "/fonts/";
@modding: "/img/modding/";

// images ----------------------------------------------------------------------------------- images
//@background-image: url('@{img-path}body.bg.png');
@background-image: none;
@html-background-image: url('@{img-path}html.bg.png');
@background-arrow: url('@{uikit-path}arrow.svg');
@border-picture-normal: url("@{uikit-path}border.png");
@border-picture-active: url("@{uikit-path}border_active.png");

// border ---------------------------------------------------------------------------------- border
@border-cut-pixels: 40;
@border-pic-display-style: repeat;
@border-width: 0.5vw;
@border-double-width: 2*@border-width;


//@body-background-size: auto 130px;
@body-background-size: '';

// modding --------------------------------------------------------------------------------- modding
// cursor ----------------------------------------- cursor
@cursor: url('@{modding}knights-glove.png');
// selection -------------------------------------- selection
@highlight-color: #E86975;
@highlight-text-color: #FAEBd7;
@highlight-text-shadow-color: #4F79AE;

// scroller = slide show ------------------------------------------------------------------- scroller = slide show
@scroller-height: 200px;
@fade-scope: 0.25 * @scroller-height;

// shadows --------------------------------------------------------------------------------- shadows
@box-shadow-standard-x: 0.35vw;
@box-shadow-standard-y: 0.35vw;
@box-shadow-standard-fade: 0.8vw;
@box-shadow-standard-color: darkgrey;
@box-shadow-standard-color: #8D7F9C;

//@inner-shadow: inset 0 0 1vw 0 rgba(41,41,41,.5);
@inner-shadow-depth: 5vw;
@inner-shadow-color: rgba(41, 0, 0, 0.5);
@inner-shadow: inset 0px 0px @inner-shadow-depth 0px @inner-shadow-color;

@special-inner-shadow: inset 0px 0px 2vw 0px @inner-shadow-color;
// forms
@error-color1: @highlight-color;
@error-color:  @body-color;
@error-bg: @body-color;
@forms-inner-shadow: @inner-shadow-color;

@body-color: rgb(41,66,49);
@darker: rgb(69, 98, 80);
@inner-shadow-color: rgba(141,127,156, 0.8);