//saves
//@body-color: #E86975;
//@body-color: #B04743;
//@body-color: #4F79AE;
//@backgroundcolor: #FFD480;
//@backgroundcolor: #FFCE8C;

//snippets of unknown origin
//@js-lib: "/libs/jquery-ui/";
//@js-css-file: "jquery-ui.css";
//@js-css: "@{js-lib}@{js-css-file}" ;


// JETZT GEHTS LOOOOOS


// colors -----------------------------------------------------------------------------------
@body-color: rgb(67,12,12);
@backgroundcolor: #FAEBd7;
@dark-color: #dbd2c9;
@darker: #AFA08D;


// paths ------------------------------------------------------------------------------------
@img-path: "/img/";
@uikit-path: "/img/uikit/";
@fonts-path: "/fonts/";
@modding: "/img/modding/";

// images -----------------------------------------------------------------------------------
//@background-image: url('@{img-path}body.bg.png');
@background-image: none;
@html-background-image: url('@{img-path}html.bg.png');
@background-arrow: url('@{uikit-path}arrow.svg');
@border-picture-normal: url("@{uikit-path}border.png");
@border-picture-active: url("@{uikit-path}border_active.png");

// border -------------------------------------------------------------------------------
@border-cut-pixels: 40;
@border-pic-display-style: repeat;
@border-width: 0.5vw;
@border-double-width: 2*@border-width;


//@body-background-size: auto 130px;
@body-background-size: '';

// modding ----------------------------------------------------------------------------------
@cursor: url('@{modding}knights-glove.png');