/* ----- Sign rotation ------------
-------------------------------- */
@keyframes rotate_sign {
    0%      { }
    10%     { transform:rotate(  0deg); }
    35%     { transform:rotate(-40deg); }
    65%     { transform:rotate( 40deg); }
    90%     { transform:rotate(  0deg); }
    100%    { }
}

/* used in... */
/* -> head */
.headdeko:hover {
    animation-name: rotate_sign;
    animation-duration: 3s;
    animation-direction: alternate;
}

/* -- Fade in from display: none --
-------------------------------- */
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

/* used in... */
/* -> navigation menu.css */

/* ------- Link img rotation ------
-------------------------------- */
@keyframes rotate
{
    0%      { transform:rotate(  0deg); }
    100%    { transform:rotate(  360deg); }
}

/* used in... */
/* -> navigation menu.css */