/* ----------------- SIGN ROTATION -------------------------------- */
@keyframes rotate_sign {
    0%      { }
    10%     { transform:rotate(  0deg); }
    35%     { transform:rotate(-40deg); }
    65%     { transform:rotate( 40deg); }
    90%     { transform:rotate(  0deg); }
    100%    { }
}

.headdeko:hover {
    animation-name: rotate_sign;
    animation-duration: 3s;
    animation-direction: alternate;
}