/* -----------------general Settings----------------- */
* {
    padding: 0;
    margin: 0;
    z-index: 5;
}
body {
    background-color: rgb(67, 12, 12);
    background-image: url( /img/html.bg.png);
    background-size: 100px;
}

.body {
    margin: 3%;
    background-image: url( /img/body.bg.png);
    background-size: auto 130px;
    border-radius: 35px;
    background-color: #FAEBd7;
}

h1 {font-size: 20px;}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}
button {
    background: none;
    border: none;
}

.ownhead {
    font-family: stylo, arial, sans-serif;
    color: black;
    font-size: 68px;
    font-size-adjust: auto;
}
.owntitel {
    font-family: stylo2, arial, sans-serif;
    font-size: 25px;
    color: black;
}
/*--------------------------Login and Logout-----------------------*/
form,
label,
input {
    border-radius: 5px;
}
input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.logoutbutton {
    width: 80%;
    height: 30px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
}

/* ---------------Fonts---------------------*/
@font-face { font-family: 'stylo';
             src: url('/fonts/hp.ttf') format('truetype'); }

@font-face { font-family: 'stylo2';
             src: url('/fonts/hp2.ttf') format('truetype'); }

/* -----------------Head----------------- */
#headcontainer {
    position: relative;
    width: 100%;
}
.headdeko {
    width: 180px;
    z-index: 100;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
}

#head {
    position: relative;
    float: right;
    text-align: center;
    width: 100%;
    height: 90px;  /*height + padding = height of div*/
    padding-top: 20px;
}

.leftHead {
    float: left;
    text-align: right;
    width: 40%;
    width: calc(50%-90px);
}

.rightHead {
    float: right;
    text-align: left;
    width: 40%;
    width: calc(50% - 90px);
}
#headlinks {
    clear:both;
    position: relative;
    padding-right: 10px;
    width: calc (100% - 10px);
    height: auto;
    text-align: right;
    color: black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#headlinks>span {
    color: black;
}
.M_S_br {
    display: none;
}
.M_br {
    display: none;
}
.greets {
    font-size: 15px;
    font-weight: 700;
}
small {
    font-size: 10px;
}

/* -----------------hp body----------------- */
.bodycontainer {
    position: relative;
    width: 100%;
}

#content,
.rightcontainer {
    position: relative;
}

/* -----------------colum 1 (navframe)----------------- */
.navframe {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 2px;
    z-index: 10;
}

/* -----------------colum 2 content----------------- */
#content {
    float: left;
    width: 68%;
    padding-left: 3%;
    padding-top: 5%;
    min-height: 50%;

}
.spacer_content {
    background: none;
    height: 10px;
}

/* -----------------colum 3 right bar----------------- */
.rightcontainer {
    position: relative;
    float: right;
    width: 27%;
    text-align: center;
}

.rightbarup, .rightbardown {
    position: relative;
    padding-left: 1%;
    padding-right: 0px;
    padding-top: 20px;
    width: 100%;
    float: right;
    height: auto;
    min-height: 20%;
    overflow: visible;
}
newstitel {
    font-weight: 700;
}

/* -----------------foot----------------- */
#foot {
    position: relative;
    width: 100%;
    text-align: center;
}

#foottext {
    color: black;
    padding-top: 10px;
    min-height: 30px;
    background-image: url(/img/body.bg.png);
    background-size: auto 100%;
}

#footimage {
    background-image: url(/img/foot.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    height: 150px;
}

.spacer_l {
    background-image: url("/img/uikit/decoration.3l.png");
    background-repeat: repeat-x;
    background-size: contain;
    height: 10px;
}



.sra_table {
    text-align: right;
    width: 95%;
}

.sra_table>label {
    text-align: right;
}
.sra_table>input {
    text-align: center;
}