.colors{
    background-color: #FAEBd7;
}
.dekorators{
    background-image: url(/img/uikit/decoration.3line.png);
    background-size: auto 10px;
    background-repeat: repeat-x;
    background-position: bottom left;
}
.border{

    border: solid 0.5vw;
    border-image: url("/img/uikit/border.png") 40 repeat;
}

.border:hover{

    border: solid 0.5vw;
    border-image: url("/img/uikit/border_active.png") 40 repeat;
    background-color: #FAEBd7;
}