.colors{
    background-color: #FAEBd7;
   /* background hover */
    background-color: #D2B4B0;
}
.dekorators{
    background-image: url(/img/uikit/decoration.3line.png);
    background-size: auto 10px;
    background-repeat: repeat-x;
    background-position: bottom left;
}