/* ---------------Fonts---------------------*/
@font-face
{
  font-family: 'headline';
  src: url('@{fonts-path}hp.ttf') format('truetype');
}
@font-face
{
  font-family: 'bodytext';
  src: url('@{fonts-path}hp2.ttf') format('truetype');
}
@font-face
{
  font-family: 'vendor';
  src: url('@{fonts-path}hp3.ttf') format('truetype');
}
// less helpers in _helpers.less