// vars
@login-max-height: 20vw;


// <div class = 'logging-container'>
//    <box class = 'logging login|logout' >
//      <boxtitle>
//      <boxcontent>
//          <form> for logging action
//          <ul class logout-list>  // when logged on

// behavior when logged in:
// .loggin {
//    used for js selection of logout box in loggingDesigner.js
//  }

// MEDIA browser view
@media only screen and (min-width: 700px) {

  .logging-container
  {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .logging-container.logged-in,
  .logging-container.login-active,
  .logging-container:hover,
  .logging-container:active
  {
    z-index: 2;
  }

  .logging.login>boxtitle
  {
    margin-top: 5px;
  }

  .logging.logout>boxtitle
  {
    margin-top: 0;
  }

  .topBox {   /* styles only the logIn box top-right */
    &.login {
      position: absolute;
      top: 0;
      right: 6vw;
      width: 10vw;
      max-height: 5vw;

      > boxtitle {
        margin-top: 0;
      }
      > boxcontent {
        opacity: 0;
        padding-top: 2.5vw;
      }
    }

    &.login-inactive {
      .at-animation(logIn-animate-slide-out 1s ease-in);
    }

    &.login:hover,
    &.login:active {
      .login-active;
      max-height: @login-max-height;
    }

    &.login-active {
      width: 20vw;
      z-index: 20;
      max-height: @login-max-height;
      .at-animation(logIn-animate-slide-in 0.3s ease-in);
      > boxcontent {
        opacity: 1;
        .at-animation(blurIn 0.8s ease-in);
      }
      > boxtitle {
        margin-top: 1vw;
        .at-animation(logIn-animate-boxtitle-margin 0.3s ease)
      }
    }
  }

  .logout {
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 18vw;
    .at-box;
    min-height: 11vw;
    max-height: 17.5vw;

    > boxtitle {
      text-align: center;
    }
  }

  .logoutbutton
  {
    width: 100%;
  }
}


// MEDIA browser view
@media only screen and (max-width: 700px) {
  body.logged-in .menu_button_div {
    display: none;
  }

  .logging-container {
    position: relative;
    height: auto;
    overflow: hidden;
  }

  .logging-container.login-active,
  .logging-container:hover,
  .logging-container:active {
    height: auto;
  }

  .logging.logout .logoutbutton {
    margin-top: -6px;
  }

  .logging boxcontent {
    margin: 0;
    padding-top: 0;
  }

  form .menu_button_img
  {
    margin: 0;
    padding: 0;
    margin-left: 40px;
  }
 form .logoutbutton
  {
    display: inline-block;
    width: 20%;
  }
}

// general Settings
.logoutbutton {
  height: auto;
}