@import "../../_vars";
@import "../../_helper";
@import "_box_basic";

@input-background: @body-color;


//input {
//  background-color: #1DC116;//@body-color;
//  .at-box-inner-shadow(2vw; darkgrey);
//  background: #1DC116 @html-background-image;
//  background-size: 30px;
//  text-shadow: none;
//}
//input:invalid{
//   border-color: #900;
//   background-color: #FDD;
//}
//.form-error-messages {
//  display: inline-block;
//  position: relative;
//  width: auto;
//  background-color: #E83737;
//}

.triangle-border.top:before {
  top: -20px;
  bottom: auto;
  left: auto;
  right: 40px;
  border-width: 0 20px 20px;
}
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  display: block;
  width: 0;
}
.triangle-border:after {
 content: "";
 position: absolute;
 bottom: -13px;
 left: 47px;
 border-width: 13px 13px 0;
 border-style: solid;
 border-color: #fff transparent;
 display: block;
 width: 0;
}
.triangle-border.top:after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 47px;
  border-width: 0 13px 13px;
}
form {
  width: 500px;
  >* {
    display: list-item;
    list-style: none;
    margin-bottom: 105px;
  }
  >label {
    position: relative;
    z-index: 0;

    >span:first-child {
      position: absolute;
      top: -5px;
      left: 20px;
      z-index: 2;
      padding: 0 10px 0 10px;
      background-color: @backgroundcolor;
      font-style: italic;
      font-size: 11px;
      font-family: 'Glyphicons Halflings';
      color: @body-color;
    }
    input,
    textarea {
      position: relative;
      z-index: 1;
      height: 25px;
      padding: 5px;
      background-color: @backgroundcolor;
      border: 1px solid @body-color;
      color: #555;

      :focus {
        border: 1px solid @highlight-color;
      }
    }
    .form-error-messages {
      position: relative;
      z-index: 4;
      padding: 5px;
      margin: 10px;
      list-style: none;
      text-align: center;
      color: #fff;
      background: #333;
      border-radius: 5px;
      ::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 30px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background: #f00;
      }
    }
    //clear: both;
  }
}
//  label {
//    text-align: center;
//    > span {
//      margin-bottom: 0.5vw;
//    }
//  }
//  input
//  {
//    //.at-shaded-part;
//    //border-radius: 5px;
//    //text-align: center;
//    //padding-left: 5px;
//    //padding-right: 5px;
//    //margin-left: auto;
//    //margin-right: auto;
//    width: 250px;
//
//    //&:hover{
//    //  background-image: @background-image;
//    //
//    //}
//  }
//
//  select {
//    margin-left: auto;
//    margin-right: auto;
//  }
//
//  input:-webkit-autofill {
//    background-color: @body-color !important;
//    color: #000000 !important;
//  }
//}
//form option{
//  text-align: left;
//}