@import "../less/css/realCss/siteDesign/_standards";
/* -----------------auxilliary classes for JQuery----------------- */
/*----------------------some just for switching--------------------*/

/* ******** general / no special usage ******** */
.hidden
{
    display: none !important;
}
/* used for js selection
.js-L-view
{
    // only in "normal" view
}
.js-S-view
{
    // only in mobile view

}

/* ******** datepicker (part of jquery-ui I think) ******** */
.ui-datepicker
{
    background-image: url(/img/body.bg.png);
    background-size: 100% 100%;
}
#ui-datepicker-div>table>thead>tr>th>span
{
    color: black;
}

/* ******** in forms (last_fixes.js) ******** */
.width_95
{
    width: 95%;
}
.width_90
{
    width: 90%;
}
.width_40
{
    width: 40%;
}

/* ************************* */
/* *** with own css file *** */
/* ************************* */
/* ** popUp ** */
/* ** gallery ** */
/* ** menu ** */
