// basic style of login.phtml and logout.phtml
// .rightbarup and .box and _forms.less

// behavior when logged in:
// .loggin {
//    used for js selection of logout box in menu.js
//  }
.log_me_out
{
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 18vw;
  .at-box;
  min-height: 11vw;
  max-height: 17.5vw;
}