/* -----------------Navbar CSS settings----------------- */
@media only screen {
    /*just to be able to hide general settings while coding :) */

    /* **** mobile button **** */
    .menu_button_div {
        text-align: center;
        width:100px;
        margin: 0 auto 0 auto;
    }

    .menu_button_img {
        padding: 2px;
        height: 50px;
    }

    /* **** menu titel **** */
    .menu_titel {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
    }

    /* **** the menu **** */
    .menu_items {
        text-align: left;
        z-index: 10;
        box-shadow: 0.5vw 0 1vw grey;
    }

    .topics {
        position: relative;
    }

    /* first level ul */
    .navigation {
        background-color: #FAEBd7;
        /*border-bottom: solid 0.5vw;*/
        border: solid 0.5vw;
        border-image: url("/img/uikit/border.png") 40 repeat;
        height: 23px;
        margin-left: -1.5vw;
        margin-right: -1.5vw;

    }

    /* first level li */
    .level_0 {
        vertical-align: top;
        position: relative;
        display: inline-block;
        width: 130px;
        text-align: center;
        border-bottom: solid 0.5vw;
        border-image: url("/img/uikit/border.png") 40 repeat;
        height: 23px;
        background-color: #FAEBd7;
    }

    .level_0 > ul {
        margin-top: calc(0.5vw + 3px);
        position: absolute;
        width: 100%;
        background-color: #FAEBd7;
        display: none;
    }

    .level_0 li {
        display: block;
        width: calc(100% - 1vw);
        border: solid 0.5vw;
        border-image: url("/img/uikit/border.png") 40 repeat;
        border-top: none;
        background-color: #FAEBd7;
    }

    .level_0:hover,
    .level_0:active,
    .level_0 li:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-image: url("/img/uikit/border_active.png") 40 repeat;
        border-bottom: solid 0.5vw;
    }

    .level_0:hover > ul,
    .level_0:active > ul {
        display: block;
    }

    /* **** the link images **** */
    .links {
        height: 15px;
    }
}

@media only screen and (max-width: 700px ){
    /* **** the menu **** */
    .menu_items{
        height: auto;
        margin-bottom: 5px;
        border-top: solid 0.5vw;
        border-image: url("/img/uikit/border.png") 40 repeat;
    }
    /* first level ul */
    .navigation {
        height: auto;
        padding-bottom: 5px;
    }
    .navigation a {
         text-decoration: underline;
    }
    /* first level li */
    .level_0 {
        margin: 2px;
        padding: 0;
        height:auto;
        border: solid 0.5vw;
        border-image: url("/img/uikit/border.png") 40 repeat;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0.5vw 0 1vw grey;
    }
    .level_0>ul {
        position:relative;
        display: inline-block;
    }
    .level_0 li{
        width: 100%;
        border-left:none;
        border-right:none;
    }

    .animation {
         display: block !important;

         -webkit-animation: fadeInFromNone 1.0s ease-out;
         -moz-animation: fadeInFromNone 1.0s ease-out;
         -o-animation: fadeInFromNone 1.0s ease-out;
         animation: fadeInFromNone 1.0s ease-out;
     }
}

/* ---------------------------- animations -> css_actions.css -------------------------------- */
@media only screen and (min-width: 700px ) {
    .level_0:hover > ul {
        display: block !important;

        -webkit-animation: fadeInFromNone 0.7s ease-out;
        -moz-animation: fadeInFromNone 0.7s ease-out;
        -o-animation: fadeInFromNone 0.7s ease-out;
        animation: fadeInFromNone 0.7s ease-out;
    }
}

a:hover>img
{
    height: 15px;
    animation-name: rotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}