/* -----------------Navbar CSS settings----------------- */
/******* GENERAL *********/
.navigation
{
    list-style-type: none;
    margin: 0 0 0 0;
    display: block;
    width: 100%;
}
.level_0
{
    float: left;
    display: block;
}
#navframe li
{
    min-width: 130px;
    z-index: 100;
}
/******* L-View *********/

.menuItems li
{
    height: 30px;
    background-color: #FAEBd7;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: visible;
    background-size: auto 10px;
    background-image: url(/img/uikit/decoration.3l.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.menuItems .level_0 li {
    background-image: url(/img/uikit/decoration.3l.png);
    background-size: auto 10px;
    background-repeat: repeat-x;
    background-position: bottom left;
    display: none;
}
.menuItems li:active,
.menuItems li:hover
{
    background-image: url(/img/uikit/highlight.u.d.png), url(/img/uikit/decoration.3line_active.png);
    background-size: 100% auto, auto 10px;
    background-repeat: no-repeat, repeat-x;
    background-position: top, bottom left;
    background-color: #D2B48C;

}
.menuItems li:active,
.menuItems .level_0:active li,
.menuItems .level_0:hover  li
{
    position: relative;
    display: block;
    background-color: #D2B48C;
}

.menuItems .level_0:active ul,
.menuItems .level_0:hover  ul
{
    margin-top: 11px;
    position: absolute;
    background-color: #D2B48C;
}
.navtitel{
    height : 40px;
    background-size: auto 10px;
    background-image: url(/img/uikit/decoration.3l.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.navigation-background {
    width: 100%;
    height: 30px;
    background-color: #FAEBd7;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: visible;
    background-size: auto 10px;
    background-image: url(/img/uikit/decoration.3l.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}

/******* S-View *********/
/** ------------------------------ the navbutton --------------------------**/
.navbutton {
    display: block;
    width: auto;
    padding: 0;
    height: 65px;
    background-image: url(/img/uikit/decoration.3l.png);
    background-size: auto 10px;
    background-repeat: repeat-x;
    background-position: bottom left;
}
.menu_closed {
    height: 50px;
}

.links {
     height: 15px;
 }
.mobile_menuItems .level_0 ul {
    margin-top: 11px;
    margin-left: -1px;
    height: auto;
    width: 130px;
}
.mobile_menuItems li
{
    position: inherit;
    display: inline-block;
    height: auto !important;
}
.mobile_menuItems li a{
    text-decoration: underline;
}
.mobile_menuItems .level_0:hover{
    background-color: #ff5500;
}
.mobile_menuItems .topics {
    height: 600px;
    background-image: url(/img/uikit/decoration.3l.png) !important;
    background-size: auto 10px !important;
    background-repeat: repeat-x !important;
    background-position: bottom left !important;
}
.mobile_menuItems .level_0{
    border: dotted;
    border-width: thin;
    border-bottom: none;
    background-color: #D2B48C;
    margin-bottom: 3px;
}


/* ---------------------------- animations -> css_actions.css -------------------------------- */

.menuItems .level_0_animated:hover ul,
.mobile_menuItems .level_0_animated
{
    display: block !important;

    -webkit-animation: fadeInFromNone 1.0s ease-out;
    -moz-animation: fadeInFromNone 1.0s ease-out;
    -o-animation: fadeInFromNone 1.0s ease-out;
    animation: fadeInFromNone 1.0s ease-out;
}

a:hover>img
{
    height: 15px;
    animation-name: rotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}