/* -----------------Navbar CSS settings----------------- */
#navframe {
    z-index: 10;
    padding: 0;
    margin: 0;
}

/* **** mobile button **** */
.menu_button_div {
    text-align: center;
}
.menu_button_img {
    padding: 2px;
    height: 50px;
}

/* **** menu titel **** */
.menu_titel {
    padding-top: 0.5%;
    text-align: center;
    height: 40px;
    background-size: auto 30px;
    background-image: url(/img/uikit/decoration.3line.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
/* **** the menu **** */
.menu_items{
    text-align: left;
}
.topics{
    position: relative;
}
/* first level ul */
.navigation {
    background-color: #FAEBd7;
    background-size: auto 30px;
    background-image: url(/img/uikit/decoration.3line.png);
    background-repeat: repeat;

}
/* first level li */
.level_0 {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 130px;
    text-align: center;
    padding-bottom: 11px;
    background-size: auto 30px;
    background-image: url(/img/uikit/decoration.3line.png);
    background-repeat: repeat;
}
.level_0>ul{
    margin-top: 10px;
    position:absolute;
    width: calc(100% - 16px);
    background-color: #FAEBd7;
    display: none;
    border-image: url("/img/uikit/border1.png") 40 repeat;
    border-left: solid #D2B4B0 8px;
    border-right: solid #D2B4B0 8px;
}
.level_0 li{
    display: block;
    width: 100%;
    padding-bottom: 11px;
    background-size: auto 30px;
    background-image: url(/img/uikit/decoration.3line.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.level_0:hover,
.level_0:active,
.level_0 li:hover{
    background-color: #FAEBd7;
    background-size: auto 30px, auto 130px;
    background-image: url(/img/uikit/decoration.3line_active.png), url( /img/body.bg.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.level_0:hover>ul,
.level_0:active>ul{
    display:block;
    border: solid 8px;
    border-top: none;
    border-image: url("/img/uikit/border1.png") 40 repeat;
    padding-bottom: 10px;
}

/* **** the link images **** */
.links{
    height: 15px;
}


@media only screen and (max-width: 700px ){
    #navframe {
        z-index: 10;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    /* **** the menu **** */
        .topics {
        position: relative;
    }
    /* first level ul */
    .navigation {
        background: none;
    }
    .navigation a {
         text-decoration: underline;
     }
    /* first level li */
    .level_0 {
        background-color: #FAEBC5;
        margin-top: 3px;
        background-repeat: repeat-x;
        padding: 0;
        min-height: 30px;
        border: solid #D2B4B0 8px;
        border-image: url("/img/uikit/border1.png") 40 repeat;
        padding-bottom: 10px;
    }
    .level_0>ul {
        position:relative;
        display: block;
        border:none;
    }

    .level_0:hover,
    .level_0:active {
        background-position: top left;
    }
    .level_0 li:hover{
        background-position: bottom left;
    }
    .animation {
         display: block !important;

         -webkit-animation: fadeInFromNone 1.0s ease-out;
         -moz-animation: fadeInFromNone 1.0s ease-out;
         -o-animation: fadeInFromNone 1.0s ease-out;
         animation: fadeInFromNone 1.0s ease-out;
     }
}

/* ---------------------------- animations -> css_actions.css -------------------------------- */
@media only screen and (min-width: 700px ) {
    .level_0:hover > ul {
        display: block !important;

        -webkit-animation: fadeInFromNone 0.7s ease-out;
        -moz-animation: fadeInFromNone 0.7s ease-out;
        -o-animation: fadeInFromNone 0.7s ease-out;
        animation: fadeInFromNone 0.7s ease-out;
    }
}

a:hover>img
{
    height: 15px;
    animation-name: rotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}