@import "../../../../../less/css/realCss/siteDesign/_box_basic";
@import "tree";

@tree-pic-height: 45px;

// general appearance
#content>boxcontent boxcontent
{
    padding: 0;
    background-color: @body-color;
    .at-box-inner-shadow(2vw; darkgrey);
    background: @body-color @html-background-image fixed;
    background-size: 100px;
    text-shadow: none;
}
.tree-pic
{
    height: @tree-pic-height;
}

.tree li {
    // single Chars
    character {
        //border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        //border-radius: 5px;
        transition: all 0.5s;
    }

    /* hover effect */
    character:hover,
    character:hover + ul li character {
        background: @silver-hover-color;
        color: #000;
        //padding: 15px;
        //border: 1px solid #94a0b4;
    }
    //character:hover img.char{
    //    //height: (@tree-pic-height*2)
    //}

    /*Connector styles on hover*/
    character:hover + ul li::after,
    character:hover + ul li::before,
    character:hover + ul::before,
    character:hover + ul li ul::before {
        border-color: @backgroundcolor;
        transition: all 0.8s;
    }

    // Chars Family
    family ul
    {
        display: none;
    }
    .details
    {
        color: black;
    }
    family {
        width: auto;
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 5px;
        background-color: @body-color;
        transition: all 0.5s;
    }

    familymember {
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: @silver-hover-color;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 5px;
        transition: all 0.5s;
        * {
            color: @silver-hover-color;
        }
    }
    /* hover effect */
    familymember:hover,
    familymember:hover + ul li familymember {
        background: @darker;
        color: #000;
        border: 1px solid #94a0b4;
        *
        {
            color: #000;
        }
    }
    /*Connector styles on hover*/
    div:hover+ul li::after,
    div:hover+ul li::before,
    div:hover+ul::before,
    div:hover+ul li ul::before,
    familymember:hover + ul li::after,
    familymember:hover + ul li::before,
    familymember:hover + ul::before,
    familymember:hover + ul ul::before {
        border-color: @backgroundcolor;
        transition: all 0.8s;
    }

    // all dependent Chars
    character:hover + ul li {
        *
        {
            color: #000;
        }
        familymember,
        .details {
            background: @darker;
        }
    }

    // own family of hovered char
    character:hover + ul > li.family family
    {
        .fam-tree
        {
            height: (@tree-pic-height *2);
        }
        *
        {
            color: black;
        }
        familymember,
        .details
        {
            .box();
            margin: 0;
        }
        familymember
        {
            display: inline-block;
        }
    }
    .details:hover
    {
        .box();
        margin: 0;
    }
}


family>.details {
    .box;
    margin: 0;
    height: 14px;
    padding: 10px;
    overflow: hidden;
}

// Centered Family
.centered {
    ul
    {
        display: block!important;
    }
    .fam-tree
    {
        height: (@tree-pic-height*2);
    }
    & > family {
        * {
            color: black !important;
        }
        background-color: @backgroundcolor !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        transition: all 3s;
        & > .details,
        & > ul > .familyMember familymember {
            .box;
            margin: 0;
            min-height: 30px;
            transition: all 1s;
        }
        & > ul > .familyMember familymember {
            display: inline-block;
        }
    }
}